.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 248px;
  height: 133px;
  margin-bottom: 10px;
}

.games {
  margin-bottom: 10px;
}
